ul {list-style-type: none;}
body {

    font-family: Verdana, sans-serif;
    width: 1000px;
    margin: auto;
    direction: rtl;

}

* {


}

.ui.grid .seven.column.row .column {
    margin-top: 20px;
}

/* Month header */
.month {
    padding: 70px 25px;
    width: 100%;
    background: #1abc9c;
    text-align: center;
}

#days .column .segment, #backForToday{
  cursor: pointer;
}

thead tr {
  text-align: center;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}
.column .ui.segment{
  font-size: 14px;
}

.column .ui.ribbon.label {
  font-size: 14px;
}
.month ul li {
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous button inside month header */
.prev {
    float: right;
    padding-top: 10px;
    cursor: pointer;
}

/* Next button */
.next {
    float: left;
    padding-top: 10px;
    cursor: pointer;
}

/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}


.column.row.seven.days-title div{
  font-weight: 700;
  font-size: 120%;
  margin-bottom: 0;
}


.active .ui {
  background-color: #D6FFE1;
}

.ui.grid > .row {
  padding-top: 0;
  padding-bottom: 0;
}

.center {
  text-align: center;
}




/* The actual popup (appears on top) */
.popuptext {
    visibility: hidden;
    width: 450px;
    border-radius: 10px;
    position: fixed;
    z-index: 1;
    left: 25%;
    top: 40px;
    overflow: auto;
}

.popuptext thead tr th{
  text-align: right;

}

/* Popup arrow */
/*.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}*/

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popuptext.show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}


.coin::after {
    content: ' \20AA ';
}


#monthName {
  font-size: 30px;
  font-weight: 700;
}

.month-container {
  font-size: 28px;
  font-weight: 700;
  margin: 45px;

}

main {
  padding: 30px;

}

.days-title, #days {
  margin: 0 auto;
}
