ul {list-style-type: none;}
body {

    font-family: Verdana, sans-serif;
    width: 1000px;
    margin: auto;
    direction: rtl;

}

* {


}

.ui.grid .seven.column.row .column {
    margin-top: 20px;
}

/* Month header */
.month {
    padding: 70px 25px;
    width: 100%;
    background: #1abc9c;
    text-align: center;
}

thead tr {
  text-align: center;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}
.column .ui.segment{
  font-size: 14px;
}

.column .ui.ribbon.label {
  font-size: 14px;
}
.month ul li {
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
    float: right;
    padding-top: 10px;
    cursor: pointer;
}

/* Next button */
.month .next {
    float: left;
    padding-top: 10px;
    cursor: pointer;
}

/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

/* Days (1-31) */
.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;

}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;

    color:#777;
    height: 100px;
    /*border: 1px solid black;*/
}

/* Highlight the "current" day */
.days li.active {

    background: #1abc9c;
    color: white !important
}

.active .ui {
  background-color: #D6FFE1;
}








/* The actual popup (appears on top) */
.popuptext {
    visibility: hidden;
    width: 450px;
    border-radius: 10px;
    position: fixed;
    z-index: 1;
    left: 25%;
    top: 40px;

}

.popuptext thead tr th{
  text-align: right;

}

/* Popup arrow */
/*.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}*/

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popuptext.show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
